* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* _______________________________________________________________________________________________________________________ */
/* _______________________________________________________________________________________________________________________ */



/*
  ==========
    Navbar
  ==========
*/
.image_logo{
  max-width: 20%;
  border-radius: 15px;
}


.navbar-brand {
  max-width: 23.65 !important;
}
.btn .navbar{
  border-radius: 0.6rem !important;
  outline: none !important;
  border: none !important;
}
.btn:hover .navbar{
  background-color: #6edff6;
}
.img-fluid .navbar{
  width: 7rem;
}
.nav-link .navbar{
  text-align: left !important;
  font-weight: 600 !important;
  margin-left: 2rem;
  padding: 0.5rem 0 !important;
}
.nav-item:hover {
  color: #015fc9 !important;
}
.active {
  color: #015fc9 !important;
}
.show {
  top: 4rem;
  width: 10rem;
  padding: 0.5rem 0;
  border-radius: 0.4rem;
  background-color: #fff;
}
.show .dropdown-subitem {
  padding: 0.25rem 1rem;
}

/* ------------------------------------------------------------------------ */

/*
  ==========
    Footer
  ==========
*/

.footer {
  color: rgb(167, 168, 180) !important;
}
.footer-icon {
  border: 1px solid rgb(167, 168, 180) !important;
  color: rgb(167, 168, 180) !important;
  transition: all 400ms ease-out;
}
.footer-icon:hover {
  border: 1px solid #fff !important;
  background-color: transparent !important;
  color: #6edff6 !important;
}
.btn-footer {
  transition: all 400ms ease-out !important;
  color: rgb(167, 168, 180) !important;
  padding: 0 !important;
}
.btn-footer__span {
  transition: all 400ms ease-out;
}
.btn-footer:hover {
  background-color: transparent;
}
.btn-footer__span:hover {
  color: #fff;
  font-size: 1.2rem !important;
}
.input__footer {
  color: rgb(167, 168, 180) !important;
}
.input__footer::placeholder {
  color: rgb(167, 168, 180);
}
.btn-secondary:hover {
  background-color: #015fc9 !important;
}
a {
  text-decoration: none !important;
}
.copyright {
  border-top: 0.8px solid rgba(255, 255, 255, 0.1);
  position: relative;
}
.back-to-up {
  position: absolute;
  bottom: 2rem;
  right: 1.5rem;
}

/* --------------------------------------------- */

@media screen and (min-width: 922px) {
  .img-fluid {
    width: 10rem;
  }
}























/* _______________________________________________________________________________________________________________________ */
/* _______________________________________________________________________________________________________________________ */

.sec_next_nav {
    min-height: 50vh;

  background-image: url(https://www.apple.com/v/macbook-pro/ao/images/overview/welcome/welcome_hero_endframe__c61x1mv7kgqe_large_2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.li_hover:hover{
color: rgb(13, 110, 253)
}

/* __________________________________________ */

/* کارتا */

.img_1{
    max-width: 30%;
    border: 1rem solid rgb(67, 0, 0);

}
.img_6laptop{
   max-width: 35%;
}

.card{
   background-color: transparent !important; 
}

.card-body{
 box-shadow: 0 0  30px rgba(114, 114, 114, 0.251);

}

.for_flex{
    position: relative;
    left: -16px;
}
/* __________________- */
body{
  background-color: #e4e4e4;
}

.navbar{
  background-color: #e3e3e3 !important;
}